
.add-teacher-container{
  display: flex;
  flex-wrap: wrap;
}
.add-teacher-container>div{
  flex-basis: 100%;
}
.row-container{
  
  width: 80%;
  margin: 0 auto;
  display: flex;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
  background-color: var(--color2);
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.StudentNewPicParent{
  position: relative;
  flex-basis: 10%;
}

.StudentNewPic{
  position: relative;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;

}

.StudentNewPic>img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.StudentNewPicParent>img{
  padding: 1px;
  background-color: beige;
  border-radius: 50%; 
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 85px;
  top: 10px;
}

.hoverStyle{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
}
.hoverStyle>p{
  color:white;
  font-size: 12px;
}

.StudentNewPic:hover .hoverStyle{
  visibility: visible;
}

.react-datepicker-wrapper{
  flex-basis: 100%;
}

.react-datepicker__input-container{
  display: flex !important;
}


@media only screen and (max-width: 768px){
  /* For mobile phones: */
  .row-container{
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    flex-wrap: wrap;
  }
  .StudentNewPic{
    flex-basis: 100%;
  }
}


