.StudentsHeader{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.search{
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-grow: 0.5;
}

.title-icon{
    font-size: 23px;
    color: var(--color1);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .StudentsHeader input[type='text']{
        flex-basis: 100%;
    }
}
