.student-details{
    flex-basis: 80%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    background: white;
    position: relative;
}

.student-details-appear{
    height:0%
}
 
.student-details-appear.student-details-appear-active{
    height:100%;
    transition: height 200ms ease-in;
}

.details-row-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 2%;
}

.student-picture{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 5px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;   
    object-fit: cover;
}

.details-row-container1 .student-props{
    flex-basis: 60%;
}

.details-row-container2{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2%;
    background-color:var(--color1);
}

.details-row-container2>div{
    flex-basis: 33.333%;
    padding: 10px;
    box-sizing: border-box;
}

.details-row-container2>div>h3{
    color: white;
    margin: 0 0 10px 0;
    padding: 0;
}

.list-item{
    flex-basis: 100%;
    background: white;
    margin: 2px;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* @keyframes pdfkeys{
    from{width: 0%;}
    to{width: 80%;}
}

.bill-entered{
    background: red;
}
.bill-entering{
    animation: pdfkeys 0.4s;
}
@keyframes negpdfkeys{
    from{width: 80%;}
    to{width: 0%;}
}
.bill-exiting{
    animation: negpdfkeys 0.4s;
} */

@media only screen and (max-width: 768px){
    /* For mobile phones: */
    .details-row-container2>div{
        flex-basis: 100%;
    }
}


