.list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.student-list-item{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    background: white;
    padding: 3px 5%;
    border-radius: 5px;
    flex-wrap: wrap;
    text-align: center;
    height: 50px;
}

.selected{
    border-bottom: 5px solid var(--color3);
}


.StudentAvatar{
    border-radius: 50%; 
    width: 45px;
    height: 45px;
}

.student-item-container{
    flex-basis: 33.33%;
    padding: 2px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    display: flex;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .student-item-container{
        flex-basis: 100%;
        padding: 5px 0 0 0;
    }
    .student-list-item{
        justify-content: center;
        height: auto;
    }
    .student-list-item>div{
        flex-basis: 100%;
    }

}






/* Stu */
.left .radio{
    background-color:#c5e043;
    display:inline-block;
    padding:10px;
}

.left input[type=radio]{
    display:none
}

.left input[type=radio]:checked + .radio{
    background-color:red
}
