.navbar {
    display: flex;
    background-color: var(--color1);
}

.navbar .navbar-right {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0;
}
.navbar .branding {
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    outline : none;
}

.navbar h3 {
    font-family: montserrat;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: none;
}