.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color1);
}

.navbar .navbar-right {
    flex-basis: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0;
}

.navbar-left{
    flex-basis:10%;
    display:flex;
    justify-content:space-around;
}
.navbar .branding {
    padding: 10px;
}

.navbar-item{
    opacity: 0.70;
    color: white;
    text-decoration: none;
    border: none;
}

.active{
    opacity: 1;
}


@media only screen and (max-width: 768px){
    /* For mobile phones: */
    .navbar-right{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .navbar-left{
        flex-basis:100%;
        display:flex;
        justify-content:space-around;
    }
    .navbar-item{
        flex-basis: 100%;
        padding: 5px 0;
    }
    .navbar{
        justify-content: center;
    }

}