main{
    padding:3%;
}
.StudentDetails {
    overflow:auto; 
}
.PictureContainer {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    float:left;
}


.StudentPicture {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    max-width: 250px;
}

.StudentInfo{
    float: left;
    margin:10px;
    padding: 0 0 0 15px;
}
.StudentInfo h1{
    padding: 0;
    margin: 0;
}
.studentList{
    padding:0px;
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    width:98%;
    height: 30%;
    padding: 1%;
    border-bottom: 2px solid gray;
}

.StudentAvatar{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width:64px;
    height:64px;
}
.img{

    width:20%;
}
.center{
    text-align: center;
    width:60%;
}

.left{
    text-align: center;
    width:20%;
}

.Input{
    margin-left: auto;
    padding: 10px;
    width: 30%;
}

.StudentsHeader{
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

