.bill-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  height: 100%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  justify-content: end;
}

.bill-container-enter{
  height:0%
}

.bill-container-enter.bill-container-enter-active{
  height:100%;
  transition: all 200ms ease-in;
}

.bill-container-exit{
  height:100%;
}

.bill-container-exit.bill-container-exit-active{
  height:0%;
  transition: all 200ms ease-in;
}

.bill-container>iframe{
  flex-basis: 100%;
  flex: 1 1 auto;
}

.bill-container>div{
  display: block;
}

.validate{
  margin: 3px 0 3px 50px;
  float: right;
  width: auto;
  background-color: forestgreen;
}
.cancel{
  margin: 3px 0 3px 20px;
  float: right;
  background-color:crimson;
}
.cancel:hover{
  background-color:rgb(255, 43, 96);
}

.validate:hover{
  background-color:rgb(23, 196, 23);
}