@font-face {
  font-family: montserrat;
  src: url(./fonts/MONTSERRAT-BOLD.TTF);
}
html,body{
  height: 100%;
  
}
.main{
  padding: 3% 5%;
  background: var(--color2);
  display: flex;
  justify-content: center;
}

:root{
  --color1: cadetblue;
  --color2:rgb(238, 240, 255);
  --color3:rgb(255, 166, 0);
  --color4:rgb(217, 219, 235);
  --text-color:rgb(107, 107, 107);
}

h1{
  color: #333;
  font-family: montserrat;
  font-size: 26px;
  padding: 0;
  margin: 0 0 10px 0;
}
