.group-details{
    margin: 0 auto 40px auto;
    width: 80%;
    overflow: auto;
    box-sizing: border-box;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.group-details-row1{
  flex: 30% 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 2%;
}
.group-details-row2{
  flex: 70% 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 2%;
  background: var(--color1);
  color: white;
}

.group-details-row2>div{
  flex-basis: 50%;
  padding: 0 3%;
  box-sizing: border-box;
  
}

.link-text{
  text-decoration: none;
  color: black;
}

.list-header-icon{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 0 10px 0;
}

.list-header-icon>h3{
  margin: 0;
  padding: 0;
}
.list-header-icon>p{
  margin: 0;
  padding: 0;
}
.lined{
  border-bottom: 3px solid var(--color3);
}
.light{
  color: var(--color2);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .group-details-row2>div{
      flex-basis: 100%;
  }
  .group-details{
    width: 100%;
}
}